
<body>
<div class="main-page">
    <aside class="filters">
        <form>
          <p class="filtr-category">Filtry:</p>
          <input type="checkbox" class="sidebar-checkbox" name="historyczne" value=1>
          <label for="historyczne">Wydarzenia już zakończone</label><br>
          <input type="checkbox" class="sidebar-checkbox" name="darmowe" value=2>
          <label for="darmowe">Wydarzenia Darmowe</label><br>
          <!-- radiobuttony do reserwacji miejsc-->
          <input type="radio" class="sidebar-checkbox" name="rezerwacja" value=3>
          
          <!-- radiobuttony do kosztu-->
          
          <!-- selector min wieku -->
          <label for="miejscaMin">Ilość miejsc od</label>
          <input type="number" class="sidebar-input" name="miejscaMin" min="0" value=3>
          <label for="miejscaMax">do</label>
          <input type="number" class="sidebar-input" name="miejscaMax" min="0" value=4><br>
          
          <button (click)="applyFilters()">Filtruj</button>
      </form>
      </aside>

    <div class="event-list">
        <div *ngFor="let event of events">
            <div class="card">
                <img [src]="event.imageUrl" alt="Event image">
                <div>
                  <h3>{{ event.name }}</h3>
                  <p>{{ event.description }}</p>
                </div>
                <button (click)="showDetails(event)">Pokaż</button>
              </div>              
        </div>
      </div>  
</div>
</body>