<div class="sidebar">
    <form>
        <p class="filtr-category">Filtry:</p>
        <input type="checkbox" class="sidebar-checkbox" name="historyczne" value=1>
        <label for="historyczne">Wydarzenia już zakończone</label><br>
        <input type="checkbox" class="sidebar-checkbox" name="darmowe" value=2>
        <label for="darmowe">Wydarzenia Darmowe</label><br>
        <!-- radiobuttony do reserwacji miejsc-->
        <input type="radio" class="sidebar-checkbox" name="rezerwacja" value=3>
        
        <!-- radiobuttony do kosztu-->
        
        <!-- selector min wieku -->
        <label for="miejscaMin">Ilość miejsc od</label>
        <input type="number" class="sidebar-input" name="miejscaMin" min="0" value=3>
        <label for="miejscaMax">do</label>
        <input type="number" class="sidebar-input" name="miejscaMax" min="0" value=4><br>

    </form>
    

</div>