<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona w Stylu Netflix</title>
</head>
<body>
    

    <div class="container">
        <div class="content">
            <h2>Nowości</h2>
            <div class="movie-list">
                <div class="movie">
                    <img src="movie1.jpg" alt="Film 1">
                </div>
                <div class="movie">
                    <img src="movie2.jpg" alt="Film 2">
                </div>
                <div class="movie">
                    <img src="movie3.jpg" alt="Film 3">
                </div>
                <!-- Dodaj więcej filmów tutaj -->
            </div>
        </div>
    </div>

    <footer>
        &copy; Main site
    </footer>
</body>
</html>
