mat-dialog-content {
  min-width: 300px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  padding: 1rem;
}

mat-dialog-container {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #fff;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 1rem;
}

.password-warning {
  font-size: 0.875rem;
  color: #d9534f;
}

button {
  background-color: #FFA52A;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

button:hover, button:focus {
  background-color: #e6952a;
  transform: scale(1.05);
}
