
<header>
    <div class="upper-section">
        <div class="left-section">
            <a routerLink="/"><img src="assets/Logo.png" alt="Logo Strony"></a>
        </div>
        <div class="center-section">
            <ul class="navigation-list">
                <li><a routerLink="/">Strona główna</a></li>
                <li><a routerLink="/o-nas">O nas</a></li>
                <li><a routerLink="/dodaj-wydarzenie">Dodaj wydarzenie</a></li>
                <li><a routerLink="/pomoc">Pomoc</a></li>
            </ul>
        </div>
        <div class="right-section">
            <button class="logout-button"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
            <button class="login-button"><i class="fas fa-sign-in-alt"></i> Zaloguj</button>
        </div>
    </div>
    <div class="lower-section">
        <div class="search-content">
            <input type="text" placeholder="Wyszukaj...">
            <button class="category-button">Kategoria:</button>
            <button class="location-button">Lokalizacja:</button>
            <button class="date-button">Data:</button>
            <button class="search-button">Szukaj</button>
        </div>
    </div>
</header>
