<header>
    <div class="left-section">
        <a routerLink="/"><img src="logo.png" alt="Logo Strony"></a>
        </div>
    <div class="center-section">
        <ul class="navigation-list">
            <li><a routerLink="/">Strona główna</a></li>
            <li><a routerLink="/o-nas">O nas</a></li>
            <li><a routerLink="/dodaj-wydarzenie">Dodaj wydarzenie</a></li>
            <li><a routerLink="/pomoc">Pomoc</a></li>

            <div class="search-content">
                <input type="text" placeholder="Wyszukaj...">
                <button class="search-button">Szukaj</button>
                <button class="category-button">Kategoria</button>
                <button class="location-button">Lokalizacja</button>
                <button class="date-button">Data</button>
            </div>
        
        </ul>
    </div>
    <div class="right-section">
        <button class="logout-button"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
        <button class="login-button"><i class="fas fa-sign-in-alt"></i> Zaloguj</button>
    </div>
</header>
    