<header>
    <div class="upper-section">
        <div class="left-section">
            <a routerLink="/home"><img src="assets/Logo.png" alt="Logo Strony"></a>
        </div>
        <div class="center-section">
            <ul class="navigation-list">
                <li><a routerLink="/home">Strona główna</a></li>
                <li><a routerLink="/o-nas">O nas</a></li>
                <li><a routerLink="/add-event">Dodaj wydarzenie</a></li>
                <li><a routerLink="/pomoc">Pomoc</a></li>
            </ul>
        </div>
        <div class="right-section">
            <ng-container *ngIf="authService.isLoggedIn$ | async; else loggedOutTemplate">
              <button (click)="logout()" class="logout-button"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
              <button routerLink="/user-profile" class="profile-button"><i class="fas fa-user"></i> Profil</button>
            </ng-container>
          
            <ng-template #loggedOutTemplate>
              <button routerLink="/login-site" class="login-button"><i class="fas fa-sign-in-alt"></i> Zaloguj</button>
              <button routerLink="/register-site" class="register-button"><i class="fas fa-user-plus"></i> Zarejestruj</button>
            </ng-template>
        </div>
    </div>
    
    <div class="lower-section">
        <div class="search-content" [formGroup]="searchForm">            
            <input type="text" placeholder="Wpisz nazwę ..." formControlName="searchQuery">
            <div dropdown>
                <button class="category-button" type="button" id="categoryDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  Kategorie: 
                </button>
                <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <li *ngFor="let category of categories" class="dropdown-submenu">
                      <a class="dropdown-item" href="javascript:void(0);"
                         (click)="toggleSelection(category.name)">
                        {{ category.name }}
                      </a>
                      <ul class="dropdown-menu dropdown-submenu-right">
                        <li *ngFor="let subcategory of category.subcategories">
                          <a class="dropdown-item" href="javascript:void(0);"
                             (click)="toggleSelection(category.name, subcategory)">
                            {{ subcategory }}
                          </a>
                        </li>
                      </ul>
                    </li>
                </ul>
              </div>

            <!-- Selected Categories and Subcategories -->
            <div class="selected-items">
                    <ng-container *ngFor="let item of selectedItems; let i = index">
                    <div *ngIf="i < 2">
                        <span *ngIf="item.subcategory">{{ item.category }} > {{ item.subcategory }}</span>
                        <span *ngIf="!item.subcategory">{{ item.category }}</span>
                        <button (click)="removeCategory(item.category, item.subcategory)">Remove</button>
                    </div>
                </ng-container>
            </div>
        
            <!-- Trigger Button -->
            <button class="show-selected-category-button" (click)="togglePopup()">Show Selected Categories</button>

            <!-- Popup for Selected Categories -->
            <div class="popup" *ngIf="showPopup">
            <div class="popup-content">
                <div class="popup-header">
                <h5>Selected Categories</h5>
                <button (click)="togglePopup()">Close</button>
                </div>
                <div class="popup-body">
                <div *ngFor="let item of selectedItems" class="selected-item">
                    <span>{{ item.category }}{{ item.subcategory ? ' > ' + item.subcategory : '' }}</span>
                    <button (click)="removeCategory(item.category, item.subcategory)">Remove</button>
                </div>
                </div>
            </div>
            </div>

            <button class="location-button">Lokalizacja:</button>
            <input  type="date" class="date-button" formControlName="date">
            <button class="search-button" (click)="onSearch()">Szukaj</button>
    </div>
    </div>
</header>
