
body{
  display: flex;
  flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100vh;
  }
  
  .main-content {
    margin-top: 60px;
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
  
    h1 {
      color: #333; 
      margin-bottom: 2rem;
    }
  
    .form-group {
      margin-bottom: 1rem;
  
      label {
        display: block;
        margin-bottom: .5rem;
      }
  
      input[type='text'],
      input[type='number'],
      input[type='datetime-local'],
      textarea {
        width: 100%;
        padding: .5rem;
        border: 1px solid #ccc;
        border-radius: .25rem;
      }
  
      input[type='checkbox'] {
        margin-right: .5rem;
      }
  
      button {
        background-color: white;
        color: orange;
        padding: 10px 20px; 
        border: none;
        border-radius: 20px; 
        font-weight: bold; 
        margin-bottom: 10px;
        cursor: pointer;
        outline: none;
        font-size: 1em;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
        border: 1px solid #FFA500; 
        transition: background-color 0.3s, transform 0.3s;
        &:hover,  &:focus{
            background-color: #ffffff; 
            transform: scale(1.05);
        }
      }
    }
  
    .form-check-label {
      display: block;
      cursor: pointer;
    }
  
    .form-check-input {
      cursor: pointer;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .main-content {
      padding: 1rem;
    }
  }
  